@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Dinosaur Categories</h1>

<table class="table table-bordered table-stripped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">@obj.Name</td>
                <td width="30%">@obj.CreatedDateTime</td>
            </tr>
        }
    </tbody>
</table>